.btn-hamburguer{
  display: inline-block;
  background: #104b89;
  padding: 15px;
  border-radius: 15px;
}
nav nav{
  border-radius: 15px;
}
.imgPerfil{
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
};
