---
import Layout from '../layouts/Layout.astro';
import DropDownOption from '../components/buttomOptions.jsx';
import ProjectCard from '../components/cardProjectos'
---

<Layout title="Sebastian Campos">
	<main>		
		<DropDownOption client:load/>
		
		<section class="flex justify-center items-center h-[85vh]">
			<div class="md:pr-14 md:pt-0 pt-2">
				<h1 id="typing-text" 
				class="text-3xl md:text-5xl 2xl:text-6xl text-white whitespace-nowrap border-r-4 overflow-hidden m-0">
				Hi i'm 
				<span class="text-[#006cd9]">SEBASTIAN</span>
				</h1>
				<span class="text-white text-base md:text-2xl">Web Developer based in Peru.</span> <br><br>
				<p class="text-white text-base md:text-xl text-justify">
					I specialize in front-end dev and i have more than 1 year of experience in the field also i know some technologies of the back-end.
				</p>
				<br>
				<p class="text-white text-base md:text-xl text-justify">During my career, I have worked on projects for clients and for
					Samishop, the company where I am currently working. I am constantly looking for new opportunities to
					keep growing in my career and bring my knowledge and skills to interesting projects.
				</p>
				<button class="mt-8 mx-2.5 cursor-pointer border-solid border border-[#006cd9] rounded-2xl text-lg text-[#006cd9] font-bold ease-in duration-300 hover:scale-125 hover:shadow-lg ">
					<a class="py-2.5 px-2.5 text-base md:text-lg md:px-5 block" href="./resources/resume.pdf" download="Sebastian_Campos_CV">My resume</a> 
				</button>
			</div>	
		</section>		
		
		<section class="my-14 md:pr-14">
			<h1 class="md:text-3xl text-2xl text-[#006cd9] font-normal pb-4">/My last projects</h1>
			<ProjectCard maxProjects={3}/>
		</section>		
	</main>
</Layout>

<style>	
	body {    
	    background: linear-gradient(to right, #29323c, #485563); 	
	}
		
	#typing-text {
    	width: 16.2ch;
    	animation: typing 3s steps(16), blink .5s infinite step-end alternate;
	}
	@keyframes typing {
	    from{
	        width: 0;
	    }
	
	}	
	@keyframes blink {
	    50% {
	        border-color: transparent;
	    }
	}	

</style>
