---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/cardProjectos'
import DropDownOption from '../components/buttomOptions.jsx';
---

<Layout title="Projectos">
    <main>    
        <DropDownOption client:load/>
        <div class="my-14 pr-14">
            <h1 class="md:text-4xl text-3xl text-[#006cd9] font-normal pb-4">/My last projects</h1>
            <ProjectCard maxProjects={6}/>
        </div>	
    </main>
</Layout>
