---
export interface Props {
	title: string;
}
import { Provider } from 'react-redux';
import store from '../store/store.js';

const { title } = Astro.props;

import Header from "../components/header"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="grid grid-cols-4 gap-4 font-mono">
		<Header client:load /></Header>
		<div class="md:col-span-3 col-span-4">
			<slot/>
		</div>		
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	main {
		margin: auto;
		padding: 1.5rem;		
	}
	body {    
	    background: linear-gradient(to right, #29323c, #485563); 	
	}
	html::-webkit-scrollbar {
	    width: 8px;     
	    height: 8px;    
	    background-color: #424e5c;
	}
		
	html::-webkit-scrollbar-thumb {
	    background: #006cd9;
	    border-radius: 0px;
	}

	@media (max-width: 800px) {
		main{
			padding: 0 1.5rem;
		}
		header a{
			font-size: 15px;
		}
	}
	
</style>
